body,html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(var(--bs-dark-rgb));
}


::-webkit-scrollbar-thumb {

    background: rgba(255, 165, 0, 0.62);
}


::-webkit-scrollbar-thumb:hover {
    background: orange;
}

#technology{
    color: orange;
}

body{
    height: 100%;
    background-color: rgb(241, 241, 241);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
}

.navbar-nav .nav-link.active{
    color: orange ;
}

.navbar-nav .nav-item{
    padding: 0 8px;
    font-size: medium;
    font-weight: bold;
}

.title , .subtitle{
    text-align: center;
}
.title{
    font-size: 32px;
    color: orange;
    font-weight: bold;
}
.subtitle{
    font-style: italic;
}

.content{
    width: 100vw;
}

.nav-content{
    padding: 64px;
}
#about-me{
    height: 100vh;

}

#about-me .image-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me .image-container img{
    width: 75%;
    height: 80%;
    object-fit: cover;
    border-radius: 12%;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.5);
}

#about-me .details{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .social-media i{
   font-size: 32px;
   padding: 0 4px;
}

.social-media i:hover{
    color: orange;
}
#skills .skills-grid{
margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
    grid-gap: 12px;
    text-align: center;

}

#skills .skill-item{
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    text-align: center;
}

#skills .skill-item img{
    padding: 4px;
    width: 116px;
    height: 116px;
    object-fit: contain;
}


#education .card{
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 12px;
   padding: 4px;
}

#education .card-title{
    font-size: 24px;
    font-weight: bold;
}

#education .card-text{
    font-style: italic;
}

#experience .card{
     margin-top: 6px;
     margin-bottom: 6px;
    border-radius: 12px;
     padding: 12px;
 }
#experience .card-body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
#experience .card img{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 12px;
}

#experience .card-title{
    font-size: 24px;
    font-weight: bold;
}

#experience .card-text{
    font-style: italic;
}

#contact .inner-container{
    border-radius: 16px;
    background-color: white;
    padding: 32px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact button{
    width: 50%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 16px;
    background-color: rgb(var(--bs-dark-rgb));
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    border: none;
}

#contact form div{
    margin: auto;
    width: 100%;
    text-align: center;
}

#contact .inner-container form{
    width: 100%;

}
#contact .inner-container form label{
    width: 100%;

}

.carousel-item img {
    width: fit-content;
    height: 50vh;
    object-fit: contain;
    margin: auto;
    border-radius: 16px;
}

.carousel-work{
 width: 100%;
 justify-content: space-evenly;
    justify-items: center;
    border-radius: 16px;
    background-color: rgb(var(--bs-dark-rgb));
    padding: 16px;
    height: fit-content;
}

#work{
    background-color: rgb(var(--bs-dark-rgb));
    color: white;
    text-align: center;
}

.carousel-work .card{
    border: none;
    background-color: rgb(var(--bs-dark-rgb));
    padding: 16px;
    width: 40%;
    text-align: center;
}

.carousel-work .card-body{
    color: white;
    height: 44px;

}

.carousel-indicators div{
    background-color: rgba(0, 0, 0, 0.29);
    text-align: center;
    display: flex;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 16px;
    width:  fit-content;

}



footer{
    background-color: rgb(var(--bs-dark-rgb));
    color: white;
}

footer .container{
    padding: 16px;
}
footer .quick-links li{
    list-style: circle;
    padding: 4px;
}

footer .quick-links a:hover{
    color: orange;
}

footer .quick-links a{
    color: white;
    text-decoration: none;
}

footer .social-media i{
    font-size: 24px;
    padding: 0 4px;
}

.heading > h1{
    font-size: 40px;
    font-weight: bold;
}
.heading > h3{
    font-size: 24px;
    font-weight: bold;
}
.heading > p{
    font-style: italic;
}
